@image: "../assets/images";

// 背景图片地址和大小
.bg-img(@url) {
  background-image: url(@url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

//定位左右居中
.horizontal-center {
  .margin-left-right(auto, auto)
}

.margin-left-right(@left, @right) {
  display: block;
  margin-left: @left;
  margin-right: @right;
}

//宽高
.size(@width, @height){
  width: @width;
  height: @height;
}

.font(@size: 20px, @line: none, @color: black, @weight: normal, @opacity: 1) {
  font-size: @size;
  font-weight: @weight;
  line-height: if(ispixel(@line), @line, @size);
  opacity: @opacity;
  color: @color;
}

.float(@pos) {
  display: block;
  float: @pos;
}

.absolute() {
  display: block;
  position: absolute;
}
